@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes am-main-photo-animation {
  0% {
    opacity: 0;
    grayscale: 1;
  }
  16.66% {
    opacity: 0.2;
  }
  33.33% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
    opacity: 0.5;
  }
  70% {
    opacity: 1;
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  80% {
    -webkit-transform: translateX(-350px);
            transform: translateX(-350px);
  }
  90% {
    -webkit-transform: translateX(-350px);
            transform: translateX(-350px);
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    opacity: 1;
  }
  100% {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    opacity: 0;
  }
}
@keyframes am-main-photo-animation {
  0% {
    opacity: 0;
    grayscale: 1;
  }
  16.66% {
    opacity: 0.2;
  }
  33.33% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
    opacity: 0.5;
  }
  70% {
    opacity: 1;
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  80% {
    -webkit-transform: translateX(-350px);
            transform: translateX(-350px);
  }
  90% {
    -webkit-transform: translateX(-350px);
            transform: translateX(-350px);
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    opacity: 1;
  }
  100% {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    opacity: 0;
  }
}
/* COLORS */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: circle;
}

.signature {
  font-family: "Italianno", cursive;
  font-size: 92px;
  margin: 0;
  font-weight: normal;
  opacity: 0;
  -webkit-animation: fadeIn 1s ease-in-out forwards;
          animation: fadeIn 1s ease-in-out forwards;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-transform: translateY(36px);
          transform: translateY(36px);
}

.position {
  font-size: 24px;
  margin-top: 8px;
  opacity: 0;
  -webkit-animation: fadeIn 1s ease-in-out forwards;
          animation: fadeIn 1s ease-in-out forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.technology-btn {
  text-decoration: none;
  display: inline-block;
  padding: 1px 5px;
  border-left: 8px solid #eeeeee;
  border-radius: 10%;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 0px;
  opacity: 0;
  -webkit-animation: fadeIn 1.5s ease-in-out forwards;
          animation: fadeIn 1.5s ease-in-out forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  color: #222831;
}
.technology-btn.btn-first-row {
  background: #fa3939;
}
.technology-btn.btn-first-row:hover {
  background: #ce0808;
  color: black;
}
.technology-btn.btn-second-row {
  background: #1c92d1;
}
.technology-btn.btn-second-row:hover {
  background: #056ca3;
  color: black;
}
.technology-btn.btn-third-row {
  background: #ffd903;
}
.technology-btn.btn-third-row:hover {
  background: #e0ad02;
  color: black;
}
.technology-btn.btn-fourth-row {
  background: #af46ec;
}
.technology-btn.btn-fourth-row:hover {
  background: #8c08d8;
  color: black;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  padding: 16px 32px;
  max-width: 1320px;
  z-index: 999;
  opacity: 0;
  background-color: #222831;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-animation: fadeIn 1.5s ease-in-out forwards;
          animation: fadeIn 1.5s ease-in-out forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.main-nav a {
  color: #eeeeee;
  text-decoration: none;
  font-size: 40px;
}
.main-nav .nav-logo {
  font-family: "Italianno", cursive;
}
.main-nav .nav-ico {
  margin-right: 40px;
}
.main-nav .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 48px;
}
.main-nav .menu-items li a {
  position: relative;
  text-transform: uppercase;
  font-size: 40px;
}
.main-nav .menu-items li a:hover {
  color: #00adb5;
}
.main-nav .menu-items li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  background: #eeeeee;
  height: 1px;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
.main-nav .menu-items li a:hover::after {
  width: 100%;
}
.main-nav .hamburger-menu {
  cursor: pointer;
  background-color: #222831;
  color: #eeeeee;
  display: none;
}

@media (max-width: 900px) {
  #main-nav .menu-items {
    display: none;
  }
  #main-nav .hamburger-menu {
    display: block;
  }
}
.main-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #222831;
  color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 32px;
  font-family: "Roboto", sans-serif;
  z-index: 2;
}
.main-container .middle-section {
  position: absolute;
  max-width: 1320px;
  left: 20%;
  top: 40%;
  z-index: 2;
}
.main-container .middle-section .button-group {
  margin-bottom: 12px;
}
.main-container .middle-section .button-group:first-of-type {
  margin-top: 12px;
}

.mobile-menu-section {
  background-color: #222831;
  color: #eeeeee;
  display: none;
}

@media only screen and (max-width: 990px) {
  section.experience .card {
    min-height: 200px;
  }
  section.skills .progress {
    font-size: 13px;
  }
}
@media only screen and (max-width: 900px) {
  .main-container .middle-section {
    text-align: left;
    position: absolute;
    max-width: 1320px;
    left: 8%;
    top: 100px;
    z-index: 2;
  }
  .main-container .middle-section h1 {
    font-size: 70px;
  }
  .main-container .middle-section .button-group {
    margin-bottom: 12px;
  }
  .main-container .middle-section .button-group:first-of-type {
    margin-top: 12px;
  }
  .main-container.hamburger-menu-activated .hamburger-menu {
    display: none;
  }
  .mobile-menu-section {
    position: fixed;
    right: 20px;
    top: 0;
    width: 240px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: none;
    background-color: #222831;
    color: #eeeeee;
    z-index: 5;
  }
  .mobile-menu-section #hamburger-menu-close-btn {
    cursor: pointer;
  }
  .mobile-menu-section #hamburger-menu-close-btn i {
    font-size: 32px;
  }
  .mobile-menu-section .menu-items {
    list-style: none;
  }
  .mobile-menu-section .menu-items a {
    text-decoration: none;
    color: #eeeeee;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin: 4px 4px;
    display: inline-block;
    position: relative;
  }
  .mobile-menu-section .menu-items a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    background: #eeeeee;
    height: 1px;
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;
  }
  .mobile-menu-section .menu-items a:hover::after {
    width: 100%;
  }
}
body {
  background-color: #222831;
  color: #eeeeee;
}

.primary-background-and-color {
  background-color: #222831;
  color: #eeeeee;
}

.secondary-background-and-color {
  background-color: #393e46;
  color: #00adb5;
}

.primary-color {
  color: #eeeeee;
}

.secondary-color {
  color: #00adb5;
}

.am-photo-for-animation {
  position: absolute;
  z-index: 3;
  bottom: 0;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  right: -300px;
  opacity: 0;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-animation: am-main-photo-animation 16s 1s normal ease-out both infinite;
          animation: am-main-photo-animation 16s 1s normal ease-out both infinite;
}

section.about-me .card {
  background-color: #393e46;
  color: #00adb5;
  padding: 32px;
  border-radius: 18%;
  -webkit-box-shadow: 20px 20px 40px #eeeeee;
          box-shadow: 20px 20px 40px #eeeeee;
}
section.about-me .card .card-header {
  width: 90%;
  border-radius: 30%;
  -webkit-box-shadow: 20px 5px 40px #eeeeee;
          box-shadow: 20px 5px 40px #eeeeee;
}

.experience {
  background-color: #222831;
  color: #eeeeee;
}

section.experience {
  background-color: #222831;
  color: #eeeeee;
}
section.experience .card {
  min-height: 400px;
  padding: 32px;
  border-radius: 18%;
  -webkit-box-shadow: 20px 20px 40px #00adb5;
          box-shadow: 20px 20px 40px #00adb5;
}

section.education .card {
  min-height: 320px;
  padding: 32px;
  border-radius: 18%;
  -webkit-box-shadow: -20px -20px 120px #eeeeee;
          box-shadow: -20px -20px 120px #eeeeee;
}

section.skills {
  background-color: #393e46;
  color: #00adb5;
}
section.skills .card {
  background-color: #393e46;
  color: #00adb5;
  min-height: 380px;
  padding: 32px;
  border-radius: 30%;
  -webkit-box-shadow: 10px -10px 120px #00adb5;
          box-shadow: 10px -10px 120px #00adb5;
}
section.skills .progress {
  background-color: #393e46;
  color: #00adb5;
  height: 24px;
  border-radius: 5%;
  -webkit-box-shadow: 5px 5px 40px #00adb5;
          box-shadow: 5px 5px 40px #00adb5;
  font-size: 20px;
  line-height: 24px;
}

section.certificates .card {
  background-color: #393e46;
  color: #00adb5;
  min-height: 240px;
  padding: 32px;
  border-radius: 18%;
  -webkit-box-shadow: -20px -20px 40px #eeeeee;
          box-shadow: -20px -20px 40px #eeeeee;
}

section.portfolio .card-body {
  color: #00adb5;
}
section.portfolio .card {
  background-color: #222831;
  color: #eeeeee;
  min-height: 400px;
  padding: 32px;
  border-radius: 18%;
  -webkit-box-shadow: -20px 20px 40px #00adb5;
          box-shadow: -20px 20px 40px #00adb5;
}

section.contact .card {
  background-color: #393e46;
  color: #00adb5;
  min-height: 240px;
  padding: 32px;
  border-radius: 18%;
  -webkit-box-shadow: -30px 30px 40px #eeeeee;
          box-shadow: -30px 30px 40px #eeeeee;
}

#main-footer {
  position: absolute;
  left: 20%;
  bottom: 0;
  padding: 32px;
  opacity: 0;
  -webkit-animation: fadeIn 1.5s ease-in-out forwards;
          animation: fadeIn 1.5s ease-in-out forwards;
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
}
#main-footer a {
  text-decoration: none;
  color: #eeeeee;
  font-size: 30px;
  margin: 0 16px;
}
#main-footer a:hover {
  color: #00adb5;
}
#main-footer a:first-of-type {
  margin-left: 0;
}/*# sourceMappingURL=main.css.map */