@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*@keyframes fadeInMobileMenu {
    0% {
        opacity: 0;
    }

    33% {
        transform: translateX(-100px) scale(1.1);
    }

    66% {
        transform: translateX(-200px) scale(1.1);
    }

    100% {
        transform: translateX(-300px) scale(1.1);
        opacity: 1;
    }
}*/
/* COLORS */
/* COLORS */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.signature {
  font-family: 'Italianno', cursive;
  font-size: 92px;
  margin: 0;
  font-weight: normal;
  opacity: 0;
  -webkit-animation: fadeIn 1s ease-in-out forwards;
          animation: fadeIn 1s ease-in-out forwards;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-transform: translateY(36px);
          transform: translateY(36px);
}

.position {
  font-size: 24px;
  margin-top: 8px;
  opacity: 0;
  -webkit-animation: fadeIn 1s ease-in-out forwards;
          animation: fadeIn 1s ease-in-out forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.technology-btn {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 2px 10px;
  background: #d60606;
  border-left: 8px solid white;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 4px;
  opacity: 0;
  -webkit-animation: fadeIn 1.5s ease-in-out forwards;
          animation: fadeIn 1.5s ease-in-out forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.technology-btn.btn-first-row {
  background: #32d600;
}

.technology-btn.btn-first-row:hover {
  background: #26a500;
}

.technology-btn.btn-second-row {
  background: #ff9100;
}

.technology-btn.btn-second-row:hover {
  background: #e48100;
}

.technology-btn.btn-third-row {
  background: #d60606;
}

.technology-btn.btn-third-row:hover {
  background: #b40202;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

body {
  background-color: black;
}

.base-background-and-color {
  background-color: black;
  color: white;
}

.about-me {
  background-color: black;
  color: white;
  padding-top: 110px;
}

#main-footer {
  position: absolute;
  left: 10%;
  bottom: 0;
  padding: 32px;
  opacity: 0;
  -webkit-animation: fadeIn 1.5s ease-in-out forwards;
          animation: fadeIn 1.5s ease-in-out forwards;
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
}

#main-footer a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin: 0 16px;
}

#main-footer a:first-of-type {
  margin-left: 0;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 24px 32px;
  max-width: 1024px;
  opacity: 0;
  z-index: 3;
  background-color: black;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-animation: fadeIn 1.5s ease-in-out forwards;
          animation: fadeIn 1.5s ease-in-out forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.main-nav a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.main-nav .nav-logo {
  font-family: 'Italianno', cursive;
}

.main-nav .nav-ico {
  margin-right: 40px;
}

.main-nav .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 24px;
}

.main-nav .menu-items li a {
  position: relative;
  text-transform: uppercase;
  font-size: 18px;
}

.main-nav .menu-items li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  background: white;
  height: 1px;
  -webkit-transition: all 1000ms ease;
  transition: all 1000ms ease;
}

.main-nav .menu-items li a:hover::after {
  width: 100%;
}

.main-nav .hamburger-menu {
  cursor: pointer;
  background-color: black;
  color: white;
  display: none;
}

@media (max-width: 900px) {
  #main-nav .menu-items {
    display: none;
  }
  #main-nav .hamburger-menu {
    display: block;
  }
}

.main-container {
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 32px;
  font-family: 'Roboto', sans-serif;
  z-index: 2;
}

.main-container .middle-section {
  position: absolute;
  left: 10%;
  z-index: 2;
}

.main-container .middle-section .button-group {
  margin-bottom: 12px;
}

.main-container .middle-section .button-group:first-of-type {
  margin-top: 12px;
}

.mobile-menu-section {
  background-color: black;
  color: white;
  display: none;
}

@media (max-width: 900px) {
  .main-container.hamburger-menu-activated {
    -webkit-transform: translateX(-280px);
            transform: translateX(-280px);
  }
  .main-container.hamburger-menu-activated .hamburger-menu {
    display: none;
  }
  .mobile-menu-section {
    position: fixed;
    width: 280px;
    height: 100vh;
    right: 0;
    top: 0;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile-menu-section #hamburger-menu-close-btn {
    position: fixed;
    top: 24px;
    right: 24px;
    color: white;
    cursor: pointer;
  }
  .mobile-menu-section #hamburger-menu-close-btn i {
    font-size: 32px;
  }
  .mobile-menu-section .menu-items {
    list-style: none;
    padding-left: 125px;
  }
  .mobile-menu-section .menu-items a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 16px 0;
    display: inline-block;
    position: relative;
  }
  .mobile-menu-section .menu-items a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    background: white;
    height: 1px;
    -webkit-transition: all 1000ms ease;
    transition: all 1000ms ease;
  }
  .mobile-menu-section .menu-items a:hover::after {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */