@mixin base-animation($duration, $delay) {
  animation: fadeIn $duration ease-in-out forwards;
  animation-delay: $delay;
}

@mixin primary-color-set {
  background-color: $primary-background-color;
  color: $primary-color;
}

@mixin secondary-color-set {
  background-color: $secondary-background-color;
  color: $secondary-color;
}

@mixin cards {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 8px;
  border-radius: 5%;
  .card-body {
    h5 {
      text-transform: uppercase;
      font-weight: bold;
    }
    h6 {
      text-transform: uppercase;
      text-decoration: underline;
    }
  }
}
