/* COLORS */
$primary-background-color: #000;
$primary-color: #fff;
$third-accent-color: #d60606;
$third-accent-focus-color: #b40202;
$second-accent-color: #ff9100;
$second-accent-focus-color: #e48100;
$first-accent-color: #32d600;
$first-accent-focus-color: #26a500;

/* COLORS */
$primary-background-color: black;
$primary-color: white;
// $secondary-background-color
// $secondary-color

$first-accent-color: #32d600;
$first-accent-focus-color: #26a500;

$second-accent-color: #ff9100;
$second-accent-focus-color: #e48100;

$third-accent-color: #d60606;
$third-accent-focus-color: #b40202;

