/* COLORS */

// BASE colors 1
// $primary-background-color: #000;
// $secondary-background-color: #3e3636;
// $primary-color: #f5eded;
// $secondary-color: #d72323;

// // BASE colors 2
// $primary-background-color: #334257;
// $secondary-background-color: #476072;
// $primary-color: #eeeeee;
// $secondary-color: #548ca8;

// // BASE colors 3
// $primary-background-color: #02475e;
// $secondary-background-color: #687980;
// $primary-color: #fefecc;
// $secondary-color: #f3bda1;

// BASE colors 4
$primary-background-color: #222831;
$secondary-background-color: #393e46;
$primary-color: #eeeeee;
$secondary-color: #00adb5;

// ACCENT colors
$first-accent-color: #fa3939;
$first-accent-focus-color:#ce0808;
$second-accent-color: #1c92d1;
$second-accent-focus-color: #056ca3;
$third-accent-color: #ffd903;
$third-accent-focus-color: #e0ad02;
$fourth-accent-color: #af46ec;
$fourth-accent-focus-color: #8c08d8;



// progres-bar-height
$progres-bar-height: 24px;
$progres-bar-font-size: 20px;
