body {
  @include primary-color-set;
}

.primary-background-and-color {
  @include primary-color-set;
}

.secondary-background-and-color {
  @include secondary-color-set;
}

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

.am-photo-for-animation {
  position: absolute;
  z-index: 3;
  bottom: 0;
  transform: scale(0.1);
  right: -300px;
  opacity: 0;
  filter: grayscale(1);
  animation: am-main-photo-animation 16s 1s normal ease-out both infinite;
}

section.about-me {
  .card {
    @include secondary-color-set;
    padding: 32px;
    border-radius: 18%;
    box-shadow: 20px 20px 40px $primary-color;
    .card-header {
      width: 90%;
      border-radius: 30%;
      box-shadow: 20px 5px 40px $primary-color;
    }
  }
}

.experience {
  @include primary-color-set;
}

section.experience {
  @include primary-color-set;
  .card {
    min-height: 400px;
    padding: 32px;
    border-radius: 18%;
    box-shadow: 20px 20px 40px $secondary-color;
  }
}

section.education {
  .card {
    min-height: 320px;
    padding: 32px;
    border-radius: 18%;
    box-shadow: -20px -20px 120px $primary-color;
  }
}

section.skills {
  @include secondary-color-set;

  .card {
    @include secondary-color-set;
    min-height: 380px;
    padding: 32px;
    border-radius: 30%;
    box-shadow: 10px -10px 120px $secondary-color;
  }
  .progress {
    @include secondary-color-set;
    height: $progres-bar-height;
    border-radius: 5%;
    box-shadow: 5px 5px 40px $secondary-color;
    font-size: $progres-bar-font-size;
    line-height: $progres-bar-height;
  }
}

section.certificates {
  .card {
    @include secondary-color-set;
    min-height: 240px;
    padding: 32px;
    border-radius: 18%;
    box-shadow: -20px -20px 40px $primary-color;
  }
}

section.portfolio {
  .card-body {
    color: $secondary-color;
  }
  .card {
    @include primary-color-set;
    min-height: 400px;
    padding: 32px;
    border-radius: 18%;
    box-shadow: -20px 20px 40px $secondary-color;
  }
}

section.contact {
  .card {
    @include secondary-color-set;
    min-height: 240px;
    padding: 32px;
    border-radius: 18%;
    box-shadow: -30px 30px 40px $primary-color;
  }
}
