body {
  @include primary-color-set;
}

.primary-background-and-color {
  @include primary-color-set;
}

.secondary-background-and-color {
  @include secondary-color-set;
}

.about-me {
  @include primary-color-set;
  padding-top: 110px;
  .javascript-developer {
    display: flex;
    justify-content: center;
  }
}

.experience {
  @include primary-color-set;
}

section.experience {
  .card {
    min-height: 480px;
    padding: 32px;
    border-radius: 30%;
    box-shadow: 20px 20px 40px $secondary-color;
  }
}

section.education {
  .card {
    min-height: 180px;
    padding: 32px;
    border-radius: 30%;
    box-shadow: -20px -20px 120px $primary-color;
  }
  // div.card {
  //   @include cards;
  //   min-height: 180px;
  //   box-shadow: -10px -5px $secondary-color;
  //   border: 2px solid $secondary-color;
  //   .card-body {
  //     h5 {
  //       text-shadow: -4px -3px $primary-background-color;
  //     }
  //   }
  // }
}
