body {
  @include primary-color-set;
}

.primary-background-and-color {
  @include primary-color-set;
}

.secondary-background-and-color {
  @include secondary-color-set;
}

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

section.about-me {
  padding-top: 80px;

  .card {
    @include secondary-color-set;
    padding: 32px;
    border-radius: 20%;
    box-shadow: 20px 20px 40px $primary-color;
    .card-header {
      width: 90%;
      border-radius: 30%;
      box-shadow: 20px 5px 40px $primary-color;
    }
  }
}

.experience {
  @include primary-color-set;
}

section.experience {
  @include primary-color-set;
  .card {
    min-height: 400px;
    padding: 16px;
    border-radius: 18%;
    box-shadow: 20px 20px 40px $secondary-color;
  }
}

section.education {
  .card {
    min-height: 180px;
    padding: 32px;
    border-radius: 30%;
    box-shadow: -20px -20px 120px $primary-color;
  }
}

section.skills {
  @include secondary-color-set;
  .skills-content {
  }
  .card {
    @include secondary-color-set;
    min-height: 380px;
    padding: 32px;
    border-radius: 30%;
    box-shadow: 10px -10px 120px $primary-color;
  }
  .progress {
    @include secondary-color-set;
    height: $progres-bar-height;
    border-radius: 5%;
    box-shadow: 5px 5px 40px $secondary-color;
    font-size: $progres-bar-font-size;
    line-height: $progres-bar-height;
  }
}

section.certificates {
  @include primary-color-set;
  .card {
    min-height: 240px;
    padding: 32px;
    border-radius: 18%;
    box-shadow: -20px -20px 40px $secondary-color;
  }
}
