.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 24px 32px;
  max-width: 1320px;
  opacity: 0;
  z-index: 3;
  background-color: $primary-background-color;
  font-family: 'Roboto Condensed', sans-serif;
  @include base-animation(1.5s, 5s);

  a {
    color: $primary-color;
    text-decoration: none;
    font-size: 48px;
  }

  .nav-logo {
    font-family: 'Italianno', cursive;
  }

  .nav-ico {
    margin-right: 40px;
  }

  .menu-items {
    display: flex;
    list-style: none;
    gap: 48px;

    li {
      a {
        position: relative;
        text-transform: uppercase;
        font-size: 40px;
        &:hover {
          color: $secondary-color;
        }

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          background: $primary-color;
          height: 1px;
          // transition: all 100ms linear;
        }

        // &:hover::after {
        //   width: 100%;
        // }
      }
    }
  }

  .hamburger-menu {
    cursor: pointer;
    background-color: $primary-background-color;
    color: $primary-color;
    display: none;
  }
}

@media (max-width: 900px) {
  #main-nav {
    .menu-items {
      display: none;
    }

    .hamburger-menu {
      display: block;
    }
  }
}
