.technology-btn {
  text-decoration: none;
  color: $primary-color;
  display: inline-block;
  padding: 2px 10px;
  background: $third-accent-color;
  border-left: 8px solid $primary-color;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 4px;
  opacity: 0;
  @include base-animation(1.5s, 3s);

  &.btn-first-row {
    background: $first-accent-color;
    &:hover {
      background: $first-accent-focus-color;
    }
  }

  &.btn-second-row {
    background: $second-accent-color;

    &:hover {
      background: $second-accent-focus-color;
    }
  }
  &.btn-third-row {
    background: $third-accent-color;

    &:hover {
      background: $third-accent-focus-color;
    }
  }
}
